// {
//   "presets": [
//     [
//       // {
//       //   "useBuiltIns": "usage",
//       //   "corejs": 3
//       // }
//       "@babel/preset-react"
//     ]
//   ]
//   // "plugins": [
//   //   [
//   //     "@babel/plugin-transform-runtime",{ // 帮助语法从inject改为require(babel/runtime)
//   //       "corejs": 3 // 帮助API从inject改为require(babel/runtime)
//   //     }
//   //   ]
//   // ]
// }
{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}