# http://editorconfig.org

# 根目录的配置文件，编辑器会由当前目录向上查找，如果找到 `root = true` 的文件，则不再查找
root = true

# 对所有js，vue， html, less, css, json 文件生效
[*.{js,vue,html,scss,less,css,json}]

# 空格缩进
indent_style = space

# 缩进空格为2个
indent_size = 2

# 文件换行符是 linux 的 `\n`
end_of_line = lf

# 文件编码是 utf-8
charset = utf-8

# 不保留行末的空格
trim_trailing_whitespace = true

# 文件末尾添加一个空行
insert_final_newline = true

# 大括号不另起一行
curly_bracket_next_line = false

# 运算符两遍都有空格
spaces_around_operators = true

# 条件语句格式是 1tbs
indent_brace_style = 1tbs

# 字符串使用单引号
# quote_type = single

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
